.btn {
  background: var(--primary-color);
  padding: 11px;
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
  border: none;
  transition: background 0.2s ease;
  cursor: pointer;
}

.btn:hover {
  background: var(--primary-color-hover);
}

.btn:active {
  background: var(--primary-color-active);
}
